body {
	font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
	-webkit-hyphens:none;
	-moz-hyphens: none;
	hyphens: none;
	page-break-after: avoid;
}

section#body > p {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	hyphenate-after: 3;
	hyphenate-before: 3;
	hyphenate-lines: 2;
	-webkit-hyphenate-after: 3;
	-webkit-hyphenate-before: 3;
	-webkit-hyphenate-lines: 2;
	margin: 0;
	orphans: 2;
	widows: 2;
	margin-bottom: em(15);
	font-size: rem(12);
}

h1 > p, h2 > p, h3 > p {
	page-break-before: avoid;
}