/*
/ Resets
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	/* Note kindle hates margin:0 ! (or margin-left or margin-top set) it inserts newlines galore */
	/* margin: 0 */
	margin-right: 0;
	padding: 0;
	border: 0;
	border-width:0;
	font-size: 100%;
	/* font: inherit */
	vertical-align: baseline;
}

ul, ol, li {
	font-size: 100%
}

body {
	page-break-after: always;
	-epub-hyphens:auto;
}

// @page {
//   margin-top: 30px;
//   margin-bottom: 20px;
// }
