figcaption {
	p {
		page-break-before: avoid;
		page-break-inside: avoid;
		padding: 0;
		margin-bottom: rem(24);
		font-size: rem(8);
	}
}

figure {
	max-height: 90%;
	max-width: 100%;
	padding: 0px;
	margin: 0px;
}

img {
	max-height: 50%;
	max-width: 100%;
	padding-top: rem(12);
	padding-bottom: rem(4);
}

#fig-51-0, #fig-52-0, #fig-53-0, #fig-54-0, #fig-55-0, #fig-56-0, #fig-57-0, #fig-58-0, #fig-59-0,
#fig-60-0, #fig-61-0, #fig-62-0, #fig-63-0, #fig-64-0, #fig-65-0, #fig-66-0, #fig-67-0, #fig-68-0,
#fig-69-0, #fig-70-0, #fig-71-0 {
	img {
		max-height: 90%;
		max-width: 100%;
	}

	figcaption {
		p {
			padding: 0;
			margin: 0;
		}
	}
	page-break-before: always;
	page-break-after: always;
}
